<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Black Rabbit</title>
    <link rel="icon" href="~/images/favicon.ico" />
	<link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="~/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="~/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/css/shop.css" type="text/css" />
	<link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/owl.theme.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/contact.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/creditly.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/checkout.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/shop.css" type="text/css" media="all">
	<link rel="stylesheet" href="~/css/login_overlay.css" type="text/css" media="all">
	<link href="~/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/css/site.css" rel='stylesheet' type='text/css' />
	<link href="~/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
	<link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="~/css/flexslider.css" rel='stylesheet' type='text/css' />
	<link href="~/css/jquery-ui1.css" rel='stylesheet' type='text/css' />
	<link href="~/css/fontawesome-all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<style>


			.dropdown-list {
				position: relative;
			}
			.dropdown-list::after {
				position: absolute;
				top: 0;
				left: -8px	;
				content: "";
				width: calc(100% + 16px);
				height: calc(100% + 20px);
			}
			.cart-inner-info {
				display: flex;
			}
		</style>
</head>
<body>
    <header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<ul>
						<li>
							<i class="fas fa-phone"></i> Hotline: </li>
						<li class="number-phone mt-3">12345678099</li>
					</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand"  asp-area="Customer" asp-controller="Home" asp-action="Index">
							Black Rabbit </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log2">
							<partial name="_LoginPartial"/>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
							<vc:gio-hang></vc:gio-hang>
						</li>
					</ul>
				</div>
			</div>
			<div class="search">
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<!-- open/close -->
				<div class="overlay overlay-door">
					<button type="button" class="overlay-close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<form action="#" method="post" class="d-flex">
						<input class="form-control" type="search" placeholder="Tìm kiếm..." required="">
						<button type="submit" class="btn btn-primary submit">
							<i class="fas fa-search"></i>
						</button>
					</form>

				</div>
				<!-- open/close -->
			</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item">
							<a class="nav-link ml-lg-0"  asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  asp-area="Customer" asp-controller="Home" asp-action="About">Giới thiệu</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-list" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Danh mục
								<i class="fa-solid fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									<div class="row">
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub"> Danh mục sản phầm </h5>
											<ul>
												<li class="media-mini mt-3">
													<a  asp-area="Customer" asp-controller="Home" asp-action="Shop">Bán chạy</a>
												</li>
												<li class="">
													<a  asp-area="Customer" asp-controller="Home" asp-action="Shop">Xem nhiều nhất</a>
												</li>
												<li>
													<a  asp-area="Customer" asp-controller="Home" asp-action="Shop">Tự thiết kế</a>
												</li>
												<li class="mt-3">
													<h5>Các trang khác</h5>
												</li>
												<li class="mt-2">
													<a  asp-area="Customer" asp-controller="Home" asp-action="About">Giới thiệu</a>
												</li>
												<li>
													<a  asp-area="Customer" asp-controller="Home" asp-action="Customer">Nhân viên</a>
												</li>
											</ul>
										</div>
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub">Bán chạy nhất</h5>
											<div class="media-mini mt-3">
												<a  asp-area="Customer" asp-controller="Home" asp-action="ShopKhac">
													<img src="~/images/g6.jpg" class="img-fluid" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-4 media-list span4 text-left">
											<h5 class="tittle-w3layouts-sub">Bình chọn cao nhất</h5>
											<div class="media-mini mt-3">
												<a  asp-area="Customer" asp-controller="Home" asp-action="ShopKhac1">
													<img src="~/images/g72.jpg" class="img-fluid" alt="" width="900" height="900">
												</a>
											</div>

										</div>
									</div>
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-list" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Cửa hàng
								<i class="fa-solid fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									<div class="row">
										<div class="col-md-4 media-list span4 text-left">
											<vc:the-loai></vc:the-loai>
										</div>
										<div class="col-md-4 media-list span4 text-left">
											<vc:mau-sac></vc:mau-sac>

										</div>
										<div class="col-md-4 media-list span4 text-left">

											<h5 class="tittle-w3layouts-sub-nav">Mẫu mới nhất</h5>
											<div class="media-mini mt-3">
												<a  asp-area="Customer" asp-controller="Home" asp-action="Shop">
													<img src="~/images/g5.jpg" class="img-fluid" alt="">
												</a>
											</div>

										</div>
									</div>
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="Customer" asp-controller="Home"  asp-area="Customer" asp-controller="Home" asp-action="Contact">Liên hệ</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
    @RenderBody()
    <footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Giới thiệu</h3>
					</div>
					<div class="footer-text">
						<p>
							Với phương châm “Sẽ luôn luôn là người bạn đồng hành cùng với phong cách thời trang của bạn”. Shop sẽ là một trong những shop đồ thời trang uy tín và chất lượng nhất tại Biên Hoà. 
							Chúng tôi luôn mang đến cho khách hàng những sản phẩm mới nhất và chất lượng, giá thành hợp lý nhất tại cửa hàng.
						</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-google-plus-g"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-linkedin-in"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fas fa-rss"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-vk"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Ghé thăm chúng tôi</h3>
					</div>
					<div class="contact-info">
						<h4>Địa chỉ :</h4>
						<p>12 Đ.Nguyễn Khuyến, P.Trảng Dài, TP.Biên Hoà, Đồng Nai</p>
						<div class="phone">
							<h4>Liên hệ :</h4>
							<p>Điện thoại : +121 098 8907 9987</p>
							<p>Email :
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Liên kết nhanh</h3>
					</div>
					<ul class="links">
						<li>
							<a asp-area="Customer" asp-controller="Home">Trang chủ</a>
						</li>
						<li>
							<a asp-area="Customer" asp-controller="Home"  asp-area="Customer" asp-controller="Home" asp-action="About">Giới thiệu</a>
						</li>
						<li>
							<a asp-area="Customer" asp-controller="Home"  asp-area="Customer" asp-controller="Home" asp-action="Page404">Lỗi</a>
						</li>
						<li>
							<a asp-area="Customer" asp-controller="Home"  asp-area="Customer" asp-controller="Home" asp-action="Shop">Cửa hàng</a>
						</li>
						<li>
							<a asp-area="Customer" asp-controller="Home"  asp-area="Customer" asp-controller="Home" asp-action="Contact">Liên hệ</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Đăng ký nhận thông báo</h3>
					</div>
					<div class="footer-text">
						<p>Bằng cách đăng ký nhận thông báo qua Email, bạn sẽ không bị bỏ lỡ các chương trình khuyến mãi tại cửa hàng của chúng tôi.</p>
						<form action="#" method="post">
							<input class="form-control" type="email" name="Email" placeholder="Nhập email của bạn..." required="">
							<button class="btn1">
								<i class="far fa-envelope" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				<p class="copy-right text-center ">&copy; 2022 Shop. All Rights Reserved
				</p>
			</div>
		</div>
	</footer>

    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<script src="~/js/jquery-ui.js"></script>
	<script src="~/js/jquery.flexslider.js"></script>
	<script src="~/js/easy-responsive-tabs.js"></script>
	<script type="text/javascript" src="~/js/creditly.js"></script>
	<script src="~/js/imagezoom.js"></script>

	<!--search jQuery-->
	<script src="~/js/modernizr-2.6.2.min.js"></script>
	<script src="~/js/classie-search.js"></script>
	<script src="~/js/demo1-search.js"></script>
	<script src="~/js/bootstrap.js"></script>

	<!-- cart-js -->
	<script src="~/js/minicart.js"></script>
	<script>
		googles.render();

		googles.cart.on('googles_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>

	<script src="~/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 2,
						nav: false
					},
					900: {
						items: 3,
						nav: false
					},
					1000: {
						items: 4,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>

	<!-- //end-smooth-scrolling -->


	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
  <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
</body>
</html>
