
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h3>Chi tiết màu sắc</h3>
<p> <b>ID:</b> @ViewBag.mauSac.Id </p>
<p><b>Tên thể loại: </b> @ViewBag.mauSac.Name</p>
<a class="btn btn-primary" asp-action="Index">Quay lại trang chủ.</a>
</div>

