
<div class="banner-top container-fluid" id="home">
	<div class="banner_inner">
		<div class="services-breadcrumb">
			<div class="inner_breadcrumb">

				<ul class="short">
					<li>
						<a asp-action="Index">Home</a>
						<i>|</i>
					</li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">

			<div class="inner-sec-shop px-lg-4 px-3">
				<div class="about-content py-lg-5 py-3">
					<div class="row">

						<div class="col-lg-6 p-0">
							<img src="~/images/banner6.jpg" alt="Goggles" class="img-fluid">
						</div>
						<div class="col-lg-6 about-info">
							<h3 class="tittle-w3layouts text-left mb-lg-5 mb-3">About Us</h3>
							<p class="my-xl-4 my-lg-3 my-md-4 my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
								book.
							</p>

							<a asp-action="Shop" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>

						</div>
					</div>
				</div>
				<h3 class="tittle-w3layouts text-center my-lg-4 my-4">Thành Viên</h3>
				<div class="partners-info">
					<div class="row mt-lg-5 mt-3">
						<div class="col-md-3 team-main-gd">
							<div class="team-grid text-center">
								<div class="team-img">
									<img class="img-fluid rounded" src="~/images/team1.jpg" alt="">
								</div>
								<div class="team-info">
									<h4>Thanh Ngọc</h4>
									<span>Giới Thiệu</span>
									<ul class="d-flex justify-content-center py-3 social-icons">
										<li>
											<a href="https://www.facebook.com/nongnoc.pyx">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="mx-3">
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					 <div class="col-md-3 team-main-gd">
							<div class="team-grid text-center">
								<div class="team-img">
									<img class="img-fluid rounded" src="~/images/team2.jpg" alt="" >
								</div>
								<div class="team-info">
									<h4>Trí Cường</h4>
									<span>Giới Thiệu</span>
									<ul class="d-flex justify-content-center py-3 social-icons">
										<li>
											<a href="https://www.facebook.com/tican1502">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="mx-3">
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 team-main-gd">
							<div class="team-grid text-center">
								<div class="team-img">
									<img class="img-fluid rounded" src="~/images/team3.jpg" alt="">
								</div>
								<div class="team-info">
									<h4>Partner 3</h4>
									<span>Description </span>
									<ul class="d-flex justify-content-center py-3 social-icons">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="mx-3">
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 team-main-gd">
							<div class="team-grid text-center">
								<div class="team-img">
									<img class="img-fluid rounded" src="~/images/team4.jpg" alt="">
								</div>
								<div class="team-info">
									<h4>Partner 4</h4>
									<span>Description </span>
									<ul class="d-flex justify-content-center py-3 social-icons">
										<li>
											<a href="#">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="mx-3">
											<a href="#">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /grids -->
				<div class="bottom-sub-grid-content py-lg-5 py-3">
					<div class="row">
						<div class="col-lg-4 bottom-sub-grid text-center">
							<div class="bt-icon">

								<span class="far fa-hand-paper"></span>
							</div>

							<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Dịch Vụ</h4>
							<p>Mang đến sự hài lòng cho khách hàng.</p>
							<p>
								<a asp-action="Shop" class="btn btn-sm animated-button gibson-three mt-4">Mua ngay</a>
							</p>
						</div>
						<!-- /.col-lg-4 -->
						<div class="col-lg-4 bottom-sub-grid text-center">
							<div class="bt-icon">
								<span class="fas fa-rocket"></span>
							</div>

							<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Ship Hoả Tốc</h4>
							<p>Giao hàng nhanh chóng chỉ trong 24 giờ.</p>
							<p>
								<a asp-action="Shop" class="btn btn-sm animated-button gibson-three mt-4">Mua ngay</a>
							</p>
						</div>
						<!-- /.col-lg-4 -->
						<div class="col-lg-4 bottom-sub-grid text-center">
							<div class="bt-icon">
								<span class="far fa-sun"></span>
							</div>

							<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Chất lượng</h4>
							<p>Hàng Việt Nam chất lượng cao.</p>
							<p>
								<a asp-action="Shop" class="btn btn-sm animated-button gibson-three mt-4">Mua ngay</a>
							</p>
						</div>
						<!-- /.col-lg-4 -->
					</div>
				</div>
				<!-- //grids -->
				<!--/meddle-->
				<div class="row">
					<div class="col-md-12 middle-slider my-4">
						<div class="middle-text-info ">

							<h3 class="tittle-w3layouts two text-center my-lg-4 mt-3">Summer Flash sale</h3>
							<div class="simply-countdown-custom" id="simply-countdown-custom"></div>

						</div>
					</div>
				</div>
				<!--//meddle-->

				<!-- /testimonials -->
				<div class="testimonials py-lg-4 py-3 mt-4">
					<div class="testimonials-inner py-lg-4 py-3">
						<h3 class="tittle-w3layouts text-center my-lg-4 my-4">Nhận xét từ khách hàng</h3>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<div class="testimonials_grid text-center">
										<h3>Phương
										</h3>
										<label>Trảng Dài</label>
										<p>Sản phẩm của shop rất chất lượng, shop tư vấn nhiệt tình, có nhiều ưu đãi hấp dẫn. Sẽ ủng hộ shop thường xuyên hơn.</p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="testimonials_grid text-center">
										<h3>Sang
										</h3>
										<label>Đà Nẵng</label>
										<p>Shop giao hàng nhanh chóng dù mình ở xa. Chất lượng không có gì bàn cãi, chúc shop buôn may bán đắt, ngày càng phát triển hơn. </p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="testimonials_grid text-center">
										<h3>Hậu
										</h3>
										<label>Singapore</label>
										<p>Giá cả phải chăng lại còn nhiều khuyến mãi. Sẽ còn ủng hộ shop, mãi iuuu</p>
									</div>
								</div>
								<a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
									<span class="fas fa-long-arrow-alt-left"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
									<span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>

								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- //testimonials -->
				<div class="row galsses-grids pt-lg-5 pt-3">
					<div class="col-lg-6 galsses-grid-left">
						<figure class="effect-lexi">
							<img src="~/images/banner8.jpg" alt="" class="img-fluid">
							<figcaption>
								<h3>Tự
									<span>Thiết kế</span>
								</h3>
								<p> Tạo cho mình một phong cách riêng.</p>
							</figcaption>
						</figure>
					</div>
					<div class="col-lg-6 galsses-grid-left">
						<figure class="effect-lexi">
							<img src="~/images/banner6.jpg" alt="" class="img-fluid">
							<figcaption>
								<h3>Tự
									<span>thiết kế</span>
								</h3>
								<p> Tạo cho mình một phong cách riêng.</p>
							</figcaption>
						</figure>
					</div>
				</div>

				<!-- /clients-sec -->
				<div class="testimonials p-lg-5 p-3 mt-4">
					<div class="row last-section">
						<div class="col-lg-3 footer-top-w3layouts-grid-sec">
							<div class="mail-grid-icon text-center">
								<i class="fas fa-gift"></i>
							</div>
							<div class="mail-grid-text-info">
								<h3>Quà tặng</h3>
								<p>Giảm giá 10% cho khách hàng mới</p>
							</div>
						</div>
						<div class="col-lg-3 footer-top-w3layouts-grid-sec">
							<div class="mail-grid-icon text-center">
								<i class="fas fa-shield-alt"></i>
							</div>
							<div class="mail-grid-text-info">
								<h3>Đóng gói</h3>
								<p>Gói hàng cẩn thận, chống sốc tốt</p>
							</div>
						</div>
						<div class="col-lg-3 footer-top-w3layouts-grid-sec">
							<div class="mail-grid-icon text-center">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<div class="mail-grid-text-info">
								<h3>Miễn phí Ship</h3>
								<p>Dành cho khách hàng tại khu vực Trảng Dài, Biên Hoà</p>
							</div>
						</div>
						<div class="col-lg-3 footer-top-w3layouts-grid-sec">
							<div class="mail-grid-icon text-center">
								<i class="fas fa-truck"></i>
							</div>
							<div class="mail-grid-text-info">
								<h3>Nhanh chóng</h3>
								<p>Giao nhận hàng đơn giản và nhanh chóng</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //clients-sec -->

			</div>
		</div>
	</section>

<script>
let navActive = document.getElementsByClassName('nav-item')[1];
console.log(navActive);
navActive.classList.add('active');
</script>
<script>
let navActive = document.getElementsByClassName('nav-item')[0];
navActive.classList.add('active');
</script>
<!-- Count-down -->
<script src="~/js/jquery-2.2.3.min.js"></script>
	<script src="js/simplyCountdown.js"></script>
	<link href="css/simplyCountdown.css" rel='stylesheet' type='text/css' />
	<script>
		var d = new Date();
		simplyCountdown('simply-countdown-custom', {
			year: d.getFullYear(),
			month: d.getMonth() + 2,
			day: 25
		});
	</script>