
<style>
	h3 {
		margin: 8px 0 16px;
	}
</style>
<div class="container">
<h3>ĐẶT HÀNG THÀNH CÔNG</h3>
		<p>XIN TRÂN TRỌNG THÔNG BÁO:
			Đơn hàng của quý khách đã được tiếp nhận. Xin vui lòng theo dõi vận đơn để biết thông tin vận chuyển. 
			Mọi thông tin liên hệ vui lòng gọi về hotline của shop.
		</p> 
</div>