@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <table class="table">

        <thead>
            <tr>
                <th>Màu Sắc</th>
                <th>Chức năng</th>
            </tr>
        </thead>

        <tbody>
@foreach (var mausac in ViewBag.MauSac)
{
            <tr>
                <td width="50%">@mausac.Name</td>
                <td width="55%">
                    <a asp-action="Edit" asp-route-id = "@mausac.Id"> Edit </a>
                    <a asp-action="Details" asp-route-id ="@mausac.Id"> Details </a>
                    <a asp-action="Delete" asp-route-id ="@mausac.Id"> Delete </a>
                </td> 
            </tr>
}
        </tbody>

    </table>
    <a asp-area="Admin" asp-controller="MauSac" asp-action="Create" class="btn btn-primary">Tạo mới</a>

</div>
